 
.cards{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap:1.3rem;
	margin-top: 1rem;
    
}
.card-single{
	display: flex;
	background: #fff;
	justify-content: space-between;
	padding: 2rem;
	border-radius: 10px;
	box-shadow: 2px 5px 10px 2px rgb(0 0 0 / 10%);
	min-width: 250px;
}
.card-single span:first-child{
	color: #f8e80c;
}
.card-single span:last-child{
	font-size: 2rem;
}
.card-single small{
	color: grey;
}
.card-single:hover{
	background: #008ea1;
	color: #fff;
}
.card-single:hover small{
	color: #fff;

}
@media only screen and (max-width: 960px){
	.cards {
    grid-template-columns: repeat(3, 1fr);
    
}
	.recent-grid{
		grid-template-columns: 60% 40%;
	}
}
@media  (max-width: 768px){
	.cards {
		grid-template-columns: 100%;
	}
	 

}
@media   (max-width: 560px){
	 .cards{
		grid-template-columns: 100%;
	}
} 
